:root{
    --font-title-size: 50px;
    --font-title-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.nav{
    position: fixed;
    z-index: 3;
    display: flex;
    width: 100%;
    height: 60px;
}
.logo{
    padding: 0.5% 3%;
    font-size: 30px;
    font-weight: 700;
    color: black;
}
.nav ul{
    position: relative;
    display: flex;
}
.nav ul li
{   
    padding: 5% 10%;
    list-style: none;
}
.nav li:hover{
    background-color: red;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
#blog,#about,#contect{
    position: relative;
    justify-content: center;
    width: 100%;
    display: flex;
    min-height: 100vh;
}
.title{
    margin-top: 70px;
    font-size: 50px;
    font-size: var(--font-title-size);
    font-family: var(--font-title-family);
}
/* ===========================================================Home===================================================== */
.home{
    justify-content: center;
    width: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
    background: url(../public/img3.jpg) ;

    background-size: cover;
    /* filter: blur(5px); */
    /* filter: blur(10px); */
}
/* .home img::after{
    content: " ";
    position: absolute;
    width: 80%; 
    height: 80%;
    /* background-image: url(../public/img3.jpg); 
} */
.home img{
    width: 80%;
    height: 80%;
    border-radius: 20px;

    filter: blur(0px);
}
/* ===========================================================About============================================ */
.about-part{
    position: absolute;
    height: 80%;
    bottom: 0%;
}
.about-left{
    width: 30%;
    /* position: relative; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-self: center; */
    padding: 5%;
    left: 0%;
}
.about-profile{
    /* position: absolute; */
    padding: 5% 7%;
    display: block;
    width: 300px;
    height: 400px;
    background-image: url(../public/about.jpg);
    background-size: cover;
    border-radius: 20px;
    box-shadow:  10px 10px 10px black;
}
.about-right{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5% 10%;
    width: 70%;
    right: 0%;
}
.about-right-content{
    width: 80%;
    height: 100%;
}
.buttons{

    height: 50px;
    color: white;
    border-radius: 20px;
    font-family: var(--font-title-family);
    background-color: black;
}
.about-button{
    width: 100px;
    font-size: 20px;
    position: absolute;
    bottom: 20%;
}
.buttons:hover{
    background-color: white;
    color: black;
    transition: .5s;
}
/* ==========================================================Blog=============================================== */
.blog{
    position: relative;
}
.blog-content{
    padding: 2% 0%;
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}
.blog-box{
    margin-top: 2%;
    /* margin-bottom: 1%; */
    border-radius: 20px;
    width: 30%;
    height: 95%;
    display: inline-block;
    justify-content: space-between;
}
.blog-box:hover{
    border: 1px solid black;
    transition: .3s;
    box-shadow: 10px 10px 10px black;
}
.blog-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}
.blog-icon i {
    font-size: 70px;
}
.blog-box-content{
    padding: 8% 10%;
}
.blog-box-button{
    /* margin-top: 5%; */
    margin-left: 10%;
    position: absolute;
    width: 120px;
    font-size: 15px;
}
/* =============================================================contect form======================================== */
/* .contect{
    background-color: blue;
} */
.contect-form{
    padding: 5% 15%;
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0%;
}
/* ==============================================Footer================================================================ */
#footer{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    background-color: black;
}
.footer-part{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50%;
}
.footer-left{
    left: 0%;
    color: white;
}
.footer-right{
    right: 0%;
    /* width: 100px; */
}
.footer-social{
    width: 200px;
}
.footer-social i{
    margin: 5%;
    color: white;
}