*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    margin: auto;
    width: 95vw;
    min-height: 100vh;
    background-color: aqua;
}
/*===================================== NAVBAAR START ================================== */

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    margin: auto;
}
.navbar>ul{
    display: flex;
}
.navbar > ul > li{
    list-style: none;
    padding: 10px 35px;
    margin: 10px 15px;
    border-radius: 40px;
}
.navbar>ul>span{
    padding: 10px 35px;
    margin: 10px 5px;
    border-radius: 40px;
}
.navbar > ul > li:hover{
    background-color: black;
}
.navbar > ul > li > a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.navbar > ul > li:hover >a{
    color: white;
}
/*===================================== NAVBAAR END ================================== */
